body{
  padding: 10px;

}
.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  
  position: fixed;       /* Fix to viewport */
  top: 0;                /* Stick to very top */
  left: 0;
  right: 0;
  z-index: 1000;         /* Keep above other elements */

  padding: 5px 24px;    /* Add some breathing room */
  background: white;     /* Background so images don't overlap */
  border-bottom: 1px solid black;
}

.logo{
  font-family: var(--font-edu),cursive;
  font-weight: 500;
  font-size: 40px;
}
.searchBar {
  height: 40px;
  width: 240px;               /* Wider input */
  padding: 0 16px;
  border-radius: 8px 0 0 8px; /* Rounded left side */
  border: 1px solid #ccc;
  font-size: 18px;
  outline: none;
  
}
.searchButton {
  height: 40px;
  padding: 0 16px;
  border-radius: 0 8px 8px 0; /* Rounded right side */
  border: 1px solid #ccc;
  border-left: none;
  background: #f7f7f7;
  cursor: pointer;
  font-size: 18px;
}

/* Container with multiple columns */
.art-gallery {
  column-count: 3; /* Number of columns */
  column-gap: 1rem;
  padding: 1rem;
}

/* Each card — avoid breaking inside column */
.art-card {
  break-inside: avoid;
  margin-bottom: 1rem;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Image styling */
.art-image {
  width: 100%;
  height: auto;
  display: block;
   transition: transform 0.3s ease;
}
.art-image:hover {
  transform: scale(1.08); 
}
/* Title styling */
.art-title {
  padding: 0.5rem;
  font-size: 1rem;
}
.masonry {
  margin-top: 150px ;
  column-count: 4; /* number of columns */
  column-gap: 1rem;
}

.masonry-item {
  break-inside: avoid; /* prevent item split */
  margin-bottom: 1rem;
}
@media( max-width : 480px){
  .logo{
    font-size: 25px;
  }
  .searchBar{
    width: 50px;
    height: 30px;
    font-size: 15px;
  }
  .searchButton{
    width: 40px;
    height: 32px;
    padding: 5px 10px;

  }
  .masonry{
    margin-top: 100px;
    column-count:3 ;
  }
  form{
    display: flex;
    align-items: center;
  }
  .art-card{
    border-radius: 5px;
  }
}